#fuck:selected{
    -fx-background-color: #d3d3d3;
}
.button {
    -fx-background-color: #c0c0c0;
}

.button:hover {
    -fx-background-color: #a9a9a9;
}

/*root类选择器给所有的元素设置样式*/
.root {
    -fx-font-family: "微软雅黑";
    -fx-font-size: 12px;
    -fx-background-image: url("https://alifei03.cfp.cn/creative/vcg/veer/612/veer-146556142.jpg");
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
}

/*id选择器设置Label标题的样式*/
#lblTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bolder;
    -fx-text-fill: #696969;
}


